// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  width: 60%;
  min-width: 300px;
  @media(max-width: 768px) {
    width: 100%;
  }
}
